body {
  background-color: ivory;
  transition: background-color 1s ease-in-out
}

p, div {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
}


#drop {
	height : 100%;

}

.element-list {
  border-radius: 5px;
  border : solid 1px #eee;
  width: 200px;
  height: 50px;

}

.element-chosen {
  border-radius: 5px;
  border : solid 1px #eee;
  width: 200px;
  height: 50px;
}

#result{
	background-color: grey;
	display : block ;
	width : 50px;
	height : 50px;
}

.droppeado{
  background-color: grey;
}

.local span{
	background : url(../icons/disaster_tsunami_100px_icon.png) center center no-repeat ;
	background-size : 100% auto;
	width : 30px;
	height : 30px;
	display : inline-block;
}

.item-drag span {background-color:#F5A9A9; color: white; width:15px; height : 15px;}
